@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --orange:#ffcd28;
  --first-color: #fff;
  --secon-color: #4b4b4b;
  --menu:#000000;
  --btn:#fff1c3;
  --sun-color:rgb(255, 251, 0);
  --f1-color:#dd4b39;
  --f2-color:rgb(0, 140, 255);
  --f3-color:rgb(255, 0, 55);
  --f4-color:rgb(0, 78, 141);
  --f5-color:rgb(240, 0, 0);
  --f6-color:#333;
}
.darkt{
  --first-color: #333;
  --secon-color: #fff;
  --menu:#fff;
  --btn:#414141;
  --sun-color:#000;
  --f1-color:#dd4b39;
  --f2-color:rgb(0, 153, 255);
  --f3-color:rgb(255, 0, 98);
  --f4-color:rgb(0, 116, 211);
  --f5-color:rgb(255, 47, 47);
  --f6-color:#fff;
}
html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: var(--first-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
.spinner {
  background-image:repeating-linear-gradient(60deg, #000, #333, #000 4px);
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  z-index: 999999999999999;
  transition: all 0.5s ease-out;
}
.top_logo {
  position: absolute;
  top: 44%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  fill: transparent;
  width:400px;
  height:321px;
  stroke: #dddddd;
  stroke-width: 16px;
  line-height: 0.2;
  opacity: 0;
  filter: drop-shadow(1px 2px 4px #000);
  stroke-dasharray: 3150;
  stroke-dashoffset: 3150;
  animation: logoStroke 2s forwards, logoFill 2s 2s forwards;
}
@keyframes logoStroke {
  to {
    stroke-dashoffset:6300;
    opacity: 1;
  }
}
.top_name {
  font-family: cursive;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 5em;
  font-weight: normal;
  line-height: 0.8;
  text-align: center;
  transform: translate(calc(-50% + 0.8em), 0.75em);
  filter: drop-shadow(2px 2px 3px #000);
  z-index: 2;
  opacity: 0;
  width: 400px;
  animation: nameOpacity 3.5s 3s forwards;
}
@keyframes logo {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  @keyframes logoFill {
  to {
    fill: var(--orange);
    stroke: transparent;
    transform: translate(calc(-50% - 2.4em), -50%);
  }
}
@keyframes nameOpacity {
to {
  opacity: 1;
}
}
.maxw {
  padding: 0 30px;
  margin: 0 60px;
}
.navbars {
  width: 100%;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease;
  border-radius:0 0 15px 15px;
}
.navbars.sticky {
  padding: 10px 0;
  background: var(--orange);
}
.menu {
  margin: 0;
}
.navbars .maxw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbars .logo{
  animation: lefts 0.5s linear forwards;
  animation-delay: 7.8s;
  opacity: 0;
}
.navbars .logo a {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  filter: drop-shadow(1px 3px 1px #4b4b4b);

}
@keyframes lefts{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
.navbars .logo a span {
  color: var(--orange);
}
.navbars.sticky .logo a span {
  color: #5e5e5e;
}
.navbars .menu li {
  list-style: none;
  display: inline-block;
}
.navbars .menu li a {
  color:  #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.3s ease;
  animation: ups 0.5s ease-in-out forwards;
  animation-delay: 8.1s;
  opacity: 0;
  filter: drop-shadow(1px 3px 0.5px #4b4b4b);
  user-select: none;
}
@keyframes ups{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.navbars .menu li a:hover {
  color: var(--orange);
}
.navbars .menu{
  flex: 1;
  text-align: right;
}
.navbars.sticky .menu li a {
  color:  var(--first-color);
  position: relative;
  filter: drop-shadow(1px 3px 0.5px #4b4b4b);
  user-select: none;
}
/* .navbars.sticky .menu li a:hover {
  color:  var(--secon-color);
} */
.navbars.sticky .menu li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s .1s ease;
}
.navbars.sticky .menu li a:hover:after,
.navbars.sticky .menu li a.act:after{
  width: 100%;
  opacity: 1;
  filter: drop-shadow(1px 2px 0.5px #4b4b4b);

}
.menu-btn {
  font-size: 23px;
  cursor: pointer;
  display:none ;
}
.menu-btn i{
  color:  #fff;
  filter: drop-shadow(1px 3px 0.5px #4b4b4b);
}
.close-menu {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color:  var(--secon-color);
}
.scroll-up{
  position: fixed;
  height: 45px;
  width: 45px;
  background: var(--orange);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 44px;
  z-index: 9;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  filter: drop-shadow(1px 3px 2px #4b4b4b);
}
.act{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up .fas{
  padding-right: 0 !important;
  color: var(--first-color);
}
.navbars .maxw .ic{
  padding-left: 30px;
  cursor: pointer;
  font-size: 30px;
  transition: color 0.2s linear;
  animation: ins 0.5s linear forwards;
  animation-delay: 8.4s;
  opacity: 0;
  z-index: 1;
  padding-right: 0 !important;
  color: var(--sun-color);
}



/* home */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../img/image1.jpg) no-repeat center center fixed;
    background-size: cover;
  width: 100%;
  display: flex;
  height: 100vh;
  min-height: 520px;
  font-family: 'ubuntu', sans-serif;
}
.home .maxw {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.home .home-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 50%;
  font-size: 25px;
  color:  #fff;
  font-family: 'poppins', sans-serif;
}
.home .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.home .image-container img {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit:cover;
  border-radius: 50%;
  opacity: 0;
  user-select: none;
  cursor:pointer;
  /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6),
              1px 1px 20px rgba(0, 0, 0, 0.6); */
  animation: ins 0.5s linear forwards, at-ripple .6s linear infinite;
  animation-delay: 9.5s;
  transition-property: transform;
  transition-duration: 1000ms;
  transform-origin: center center;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes at-ripple {
  0%{box-shadow:0 8px 10px rgba(50,50,50,0.5),0 0 0 0 rgba(50,50,50,0.5),0 0 0 5px rgba(50,50,50,0.5),0 0 0 10px rgba(50,50,50,0.5)}
  100%{box-shadow:0 8px 10px rgba(50,50,50,0.5),0 0 0 5px rgba(50,50,50,0.5),0 0 0 10px rgba(50,50,50,0.5),0 0 0 20px rgba(50,50,50,0)}
  }
@keyframes ins{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.effect-1-1{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid var(--orange);
  transform: rotate(140deg);
  top: 32%;
  right: 25%;
  z-index: -1;
  opacity: 0;
  animation: imgout 3s ease-out infinite;
  animation-delay: 9.7s;
}
@keyframes imgout {
  0%{
    transform: rotate(120deg);
    opacity: 0;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    transform: translateY(-80px);
    opacity: 0.1;
  }
}
.effect-5-1{
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid var(--orange);
  transform: rotate(120deg);
  top: 55%;
  right: 16%;
  z-index: -1;
  opacity: 0 ;
  animation: imgin 3s ease-out infinite;
  animation-delay: 11.4s;
}
@keyframes imgin {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    transform: translateX(70px);
    transform: translateY(70px);
    opacity: 0.1;
  }
}
@keyframes imgout2 {
  0%{
    transform: rotate(120deg);
    opacity: 0;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    transform: translateX(-80px);
    opacity: 0.1;
  }
}
.effect-7-1{
  position: absolute;
  border-top: 30px solid transparent;
  border-left: 30px solid var(--orange);
  right: 33%;
  top: 50%;
  z-index: -1;
  opacity: 0;
  animation: spin 2s linear infinite, imgout2 3s ease-out infinite;
  animation-delay: 10.5s;
}
.effect-7-1::before{
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid var(--orange);
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.effect-8-1,
.effect-8-2{
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--orange);
  right: 25%;
  top: 65%;
  z-index: -1;
  opacity: 0;
  animation: imgin 3s ease-out infinite;
  animation-delay: 10.9s;
}
.effect-8-2{
  right: 30%;
  top: 35%;
  animation: imgout 1.5s 6s ease-out infinite;
  animation-delay: 9.5s;
}
.home .maxw .home-container .text-1 {
  font-size: 27px;
  animation: lefts 0.5s linear forwards;
  animation-delay: 8.6s;
  opacity: 0;
  user-select: none;
  filter: drop-shadow(1px 2px 2px #000);
}
.home .maxw .home-container .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  opacity: 0;
  animation: lefts 0.5s linear forwards;
  animation-delay: 8.9s;
  user-select: none;
  filter: drop-shadow(1px 2px 2px #000);
}
.home .maxw .home-container .text-3 {
  font-size: 40px;
  margin: 5px 0;
  opacity: 0;
  animation: lefts 0.5s linear forwards;
  animation-delay: 9s;
  user-select: none;
  filter: drop-shadow(1px 2px 2px #000);
}
.home .maxw .home-container .text-3 span {
  color: var(--orange);
  font-size: 500;
}

/* article  */


.skills{
  position: relative;
}
.skills .colume {
  width: calc(50% - 30px);
}
.skills .content .left {
  width: 45%;
  color: var(--secon-color);
  font-size: 25px;
  font-family: 'poppins', sans-serif;
}
.skills .content .rigth {
  width: 55%;
  font-family: 'poppins', sans-serif;
}
.skills .content .left .texts {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--secon-color);
  font-size: 35px;
  filter: drop-shadow(0.5px 1px 0.5px #000);
}
.progress-bar-striped{
  background-image: linear-gradient(
  45deg,rgba(0, 0, 0, 0.13) 25%,
  transparent 25%,
  transparent 50%,
  rgba(0, 0, 0, 0.13) 50%,
  rgba(0, 0, 0, 0.13) 75%,
  transparent 75%,
  transparent) !important;
}
.progress{
  filter: drop-shadow(1px 3px 3px #4b4b4b);
}
.skills .content .left .spa {
  color: var(--orange);
  font-size: 30px;
  filter: drop-shadow(1px 1px 0.5px #000);
}
.skills .content .left .texts span {
  color: var(--orange);
  font-weight: 600;
  font-size: 40px;
}
.skills .content .rigth .bars {
  margin-bottom: 15px;
}
.skills .content .rigth span {
  color: var(--secon-color);
}
.skills .content .left p {
  margin-bottom: 0;
}


/* same thing */


.effect-wrap .effect{
  position: absolute;
  z-index: 0;
}
.effect-1,
.effect-5{
  width: 30px;
  height: 30px;
  border: 4px solid var(--orange);
  top: 15%;
  right: 10%;
  filter: drop-shadow(2px 2px 1px #4b4b4b);
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.effect-2{
  left: 30%;
  top: 23%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topb 3s ease-in-out infinite;
}
@keyframes topb {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(25px);
  }
}
.effect-2 div{
  height: 3px;
  width: 3px;
  background: var(--orange);
  margin: 0 3px 8px;
  filter: drop-shadow(1px 3px 0.5px #4b4b4b);
}
.effect-3,
.effect-4{
  height: 180px;
  width: 180px;
  border: 25px solid var(--orange);
  border-radius: 50%;
  left: -60px;
  filter: drop-shadow(1px 2px 3px #4b4b4b);
  animation: topb 3s ease-in-out infinite;
}
.effect-4{
  left: -60px;
  filter: drop-shadow(2px 2px 2px #4b4b4b);

}
.effect-5{
  bottom: 5%;
  right: 10%;
}
.effect-6,
.effect-7{
  border-top: 30px solid transparent;
  border-left: 30px solid var(--orange);
  left: 40%;
  top: 50%;
  animation: spin 10s linear infinite;
  filter: drop-shadow(1px 1px 2px #4b4b4b);
}
.effect-6::before,
.effect-7::before{
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid var(--orange);
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.effect-7{
  top: 90%;
  filter: drop-shadow(1px 1px 2px #4b4b4b);
}
.skills,
.contact{
  background: var(--first-color);
  transition: color 0.4s linear !important;
}
.skills,
.projects,
.contact {
  font-family: 'poppins', sans-serif;
  padding: 100px 0;
  position: relative;
}
.skills .content,
.projects .countainer,
.contact .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.projects .text,
.skills .text,
.contact .text {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: var(--secon-color);
  font-family: 'ubuntu', sans-serif;
  user-select: none;
}
.projects .text::before,
.skills .text::before,
.contact .text::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 3px;
  bottom: 0;
  left: 50%;
  background: #111;
  transform: translateX(-50%);
}
.projects .text::after,
.skills .text::after,
.contact .text::after {
  content: "What I Know";
  position: absolute;
  bottom: -16px;
  left: 50%;
  font-size: 20px;
  color: var(--orange);
  padding: 5px;
  border-radius: 55px;
  background-color:  var(--first-color);
  transform: translateX(-50%);
}

/* project */
.img , .img2{
  background: 
  url(../img/back1.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  display: none;
  height: 450px;
  max-height: 520px;
  position: relative;
}
.img2{
  background:url(../img/back2.jpg) no-repeat center center fixed;
  background-size: cover;
}
.custom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.ani2{
  animation: wave 50s linear infinite;
}
@keyframes wave {
  50%{
    transform: translateX(-400px);
  }
}
.ani1{
  animation: wave1 50s linear infinite;
}
@keyframes wave1 {
  50%{
    transform: translateX(400px);
  }
}
.custom svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 125px;
}

.custom .shape-fill {
  fill: var(--first-color);
}
.custom .shape-fil {
  fill: #111;
}




.fas,
.fab {
  padding-right: 10px !important;
  color: var(--orange);
  filter: drop-shadow(1px 3px 0.5px #4b4b4b);
}
.f1,.f2,.f3,.f4,.f5,.f6{
  filter: drop-shadow(1px 1px 0.1px #4b4b4b);
}
.projects {
  color:  #fff;
  background: #111;
}
.projects .text{
  color: #fff;
}
.projects .text::after {
  content: "MY JOB";
  background: #111;
}
.projects .text::before {
  background:  #fff;
}
.projects .countainer .card {
  width: calc(33% - 20px);
  background-color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  margin-bottom: 12px;
  cursor: pointer;
}
.projects .countainer .card:hover {
  background-color: var(--orange);
  color: #333;
}
.projects .countainer .card:hover .b{
  color: #262626;
}
.projects .countainer .card:active{
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.b{
  color: var(--orange);
}
.projects .countainer .card .imgbx {
  transition: all 0.3s ease;
  user-select: none;
}
.projects .countainer .card i {
  font-size: 50px;
  color: var(--orange);
}
.projects .countainer .card .content i{
  font-size: 19px;
  animation: rot 2.5s linear infinite;
}
@keyframes rot {
to{
  transform: rotate(360deg);
}
}
.projects .countainer .card:hover i {
  color: #333;
  transform: rotate(350deg);
  transition: all 0.8s ease;
}
.projects .countainer .card:hover .imgbx {
  transform: scale(1.05);
}
.projects .countainer .card .tex {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
.tex2{
  position: relative;
  text-align: center;
  font-weight: 500;
  font-family: 'poppins',sans-serif;
  font-size: 20px;
  padding: 5px 0;
  border-radius: 55px;
  color: #111;
  background-image: linear-gradient(
    45deg,rgba(0, 0, 0, 0.219) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.219) 50%,
    rgba(0, 0, 0, 0.219) 75%,
    transparent 75%,
    transparent) !important;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
  animation: light 4s linear infinite;
}
@keyframes light {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 1;
  }
}

/* projectall */


.projects .carousel .cardb{
  background-color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor:grab;
}

.projects .carousel .cardb:active{
  cursor:grabbing;
}
.projects .carousel .cardb:hover {
  background-color: var(--orange);
  color: #333;
}
.projects .carousel .cardb .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .cardb:hover .box {
  transform: scale(1.05);
}
.projects .carousel .cardb:hover .b{
  color: #262626;
}
.b{
  color: var(--orange);
}
.projects .carousel .cardb .textn{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
.err{
  /* color: #ee442d; */
  animation: clo 4s linear infinite;
}
@keyframes clo {
  0% ,100%{
    color: #8b3226;
  }
  30%,50%,60%{
    color: #ff2002;
  }
}
.projects .carousel .cardb i{
  font-size: 50px;
  color: var(--orange);
}
.projects .carousel .cardb:hover i {
  color: #333;
  transform: rotate(350deg);
  transition: all 0.8s ease;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--orange) !important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: var(--orange) !important;
}

/* contact */


.contact .text::after{
  content: 'Get In Touch';
}
.contact .content .colume {
  width: calc(50% - 30px);
}
.contact .content .textx, .text1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secon-color);
  filter: drop-shadow(0.5px 1px 0.5px #000);
}
.contact .content .left .icons {
  margin: 10px 0;
}
.contact .content .left .ico{
  margin-left: 50px;
}
.contact .content .left .ico a{
  margin-top: 10px;
  margin-left: 4px;
  font-size: 33px;
  text-decoration: none;
}
.contact .content .left .ico a:hover{
  transform: translateX(-2);
  transform: rotate(7deg);
  transition: all 0.2s ease;
}
.contact .content .left .ico .f1:hover{
color:var(--f1-color);
}
.contact .content .left .ico .f2:hover{
  color:var(--f2-color);
  }
  .contact .content .left .ico .f3:hover{
    color:var(--f3-color);
  }
    .contact .content .left .ico .f4:hover{
      color:var(--f4-color);
      }
      .contact .content .left .ico .f5:hover{
        color:var(--f5-color);
        }
        .contact .content .left .ico .f6:hover{
          color:var(--f6-color);
          }
.contact .content .rows {
  display:flex;
  height: 65px;
  align-items: center;
}
.contact .content .rows .info{
  margin-left: 30px;
}
.contact .content .info .head{
font-weight: 500;
font-family: 'ubuntu', sans-serif;
color: var(--secon-color);
filter: drop-shadow(0.5px 1px 0.5px #000);
}
.contact .content .info .head small{
color: var(--orange);
}
.contact .content .info .sub-title{
color: var(--secon-color);
}
.contact .content .info .w{
  text-decoration: none;
  cursor: pointer;
  user-zoom:unset;
  user-select:all;
  transition: all 0.1s ease-out;
}
.contact .content .info .w:hover{
font-size: 16.2px;
color: var(--orange);
}
.contact .content .info .w::selection{
background: transparent;
}
.contact .content i{
font-size: 25px;
color: var(--orange);
}
.contact .rigth form .field{
display: flex;
user-select: none;
}
/* .contact .rigth form .name{
  margin-right: 10px;
} */
.contact .rigth form .buttons button{
  user-select: none;
}
.contact .rigth form .buttons button span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,var(--btn),#ffcd28);
  animation: input1 2s linear infinite;
}
@keyframes input1 {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
.contact .rigth form .buttons button span:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom,var(--btn),#ffcd28);
  animation: input2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes input2 {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}
.contact .rigth form .buttons button span:nth-child(3){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left,var(--btn),#ffcd28);
  animation: input3 2s linear infinite;
}
@keyframes input3 {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}
.contact .rigth form .buttons button span:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top,var(--btn),#ffcd28);
  animation: input4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes input4 {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}
.contact .rigth form .subject{
  margin-left: 10px;
}
.contact .rigth form .field,
.contact .rigth form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .rigth form .textaria{
  height: 100px;
  width: 100%;
}
.contact .rigth form .field input,
.contact .rigth form .textaria textarea
  {
  height: 100%;
  width: 100%;
  border: 2px solid var(--orange);
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'ubuntu' ,sans-serif;
}
.contact .rigth form .textaria textarea{
  padding-top: 10px;
  resize: none;
  height: 100px;
}
.contact .rigth form .buttons{
  height: 47px;
  width: 170px;
}
.contact .rigth form .buttons button{
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  background: var(--first-color);
  color:  var(--secon-color);
  position: relative;
  overflow: hidden;
  transition:all 0.2s ease;
}
.contact .rigth form .buttons button:hover{
  color: #e9b200;
}
footer{
  font-family: 'poppins' ,sans-serif;
  text-align: center;
  background: #262626;
  padding: 20px 25px;
  color:  #fff;
}
footer span a{
  color: var(--orange);
  text-decoration: none;
  filter: drop-shadow(1px 4px 0.5px #000);
}
footer span a:hover{
  color: #eee;
text-decoration: underline;
}
@media (max-width: 1240px) {
  .home .maxw .home-container .text-1 {
    font-size: 27px;
  }
  .home .maxw .home-container .text-2 {
    font-size: 70px;
    font-weight: 600;
  }
  .home .maxw .home-container .text-3 {
    font-size: 40px;
    margin: 5px 0;
  }
  .maxw {
    padding: 0 10px;
  }
}

@media (max-width: 900px) {
  body{
    overflow-X: hidden;
    overflow-y: scroll;
  }
  .maxw {
    padding: 0 40px;
    margin: auto;
  }
  .effect-1-1{
    top: 25%;
    right: 25%;
  }
  .effect-5-1{
    top: 40%;
    right: 20%;
  }
  .effect-7-1{
    right: 60%;
    top: 42%;
  }
  .effect-8-1{
  right: 35%;
  top: 49%;
}
.effect-8-2{
  right: 60%;
  top: 25%;
}
  .top_logo{
    width:200px;
  }
  .top_name{
    width: 200px;
    font-size: 4em;
  }
  .navbar {
    padding: 0 50px;
  }
  .navbars .logo a {
    font-size: 30px;
  }
  .navbars .maxw {
    padding: 0 40px;
  }
  .navbars .menu {
    padding-left: 20px;
    position: fixed;
    display: none;
    background: var(--first-color);
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    top:0;
    left: 0;
    text-align: center;
    padding-left: 0;
    padding-top: 70px;
    border-radius: 10px;
    border: 2px solid var(--menu);
    transition:all 0.8s ease;
    z-index: 9999;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5),
                  1px 1px 20px rgba(0, 0, 0, 0.5);
  }
  .navbars.sticky .menu li a {
    color:  var(--secon-color);
  }
  .navbars.sticky .menu li a:hover {
    color: var(--orange);
  }
  .navbars .menu li {
    display: block;
    padding: 25px 0;
  }
  .navbars .menu li a {
    display: inline-block;
    color:  var(--secon-color);
    text-decoration: none;
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    transition:all 0.3s ease;
    opacity: 1;
  }
  .navbars .menu.active {
    left: 0;
    background-color: var(--orange);
  }
  .menu-btn {
    display: block;
  }
  .navbars .maxw .ic{
    flex: 1;
    margin-right: 30px;
    text-align: right;
  }
  .close-menu {
    display: block;
    position: absolute;
    top:30px;
    right: 49px;
  }
  .home .image-container {
    width: 100%;
    margin-top: 80px;
    order: 1;
    width: 250px;
    height: 250px;
  }
  .home .image-container img {
    width: 250px;
    height: 250px;
  }
  .home .home-container {
    width: 100%;
    order: 2;
    text-align: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .home .maxw {
    width: 100%;
    height: 100%;
  }
  .home .maxw .home-container .text-1 {
    font-size: 27px;
    margin: 0;
  }
  .home .maxw .home-container .text-2 {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
  }
  .home .maxw .home-container .text-3 {
    font-size: 35px;
    margin: 5px 0;
    margin: 0;
  }
  .effect-1{
    top: 20%;
  }
  .effect-2{
    left: 30%;
    top: 90%;
  }
  .effect-4{
    top: 80%;
  }
  .effect-5{
    top: 10%;
    right: 85%;
  }
  .effect-6{
    top: 20%;
    left: 80%;
  }
  .effect-7{
    top: 5%;
    left: 10%;
  }
  .skills .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .skills .colume,
  .contact .content .colume {
    width: 100%;
    margin-bottom: 35px;
  }
  .skills .content .left {
    width: 80%;
    order: 1;
    font-size: 25px;
    padding-bottom: 0px;
    font-family: 'poppins' sans-serif;
  }
  .skills .content .left p {
    margin-bottom: 15px;
  }
  .skills .content .rigth {
    font-family: 'poppins', sans-serif;
    width: 80%;
    order: 2;
    text-align: center;
    padding-top: 10px;
  }
  .bars {
    margin-bottom: 7px !important;
  }
  .skills .content .left .text {
    margin-bottom: 15px;
  }
  .projects .countainer .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .contact .content .left .ico{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 690px) {
  .projects .countainer .card {
    width: 100%;
  }
}

@media (max-width: 538px) {
  .maxw {
    margin: auto;
  }
  html {
    scroll-behavior:auto;
  }
  .home .maxw .home-container .text-1 {
    font-size: 23px;
    margin: 0;
  }
  .home .maxw .home-container .text-2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
  }
  .home .maxw .home-container .text-3 {
    font-size: 30px;
    margin: 0;
  }
  .home .home-container {
    margin: 0;
  }
  .skills .content {
    width: 100%;
  }
  .skills .colume {
    width: 100%;
    margin: 0;
  }
  .skills .content .left {
    width: 100%;
    font-size: 20px;
    margin-top: 0;
  }
  .skills .content .rigth {
    width: 100%;
    padding-top: 0;
  }
  .skills .content .left .text {
    margin-bottom: 15px;
  }
  .skills .content .left .texts span{
    font-size: 30px;
  }
  .skills .content .left .spa {
    font-size: 25px;
  }
  .skills .content .left .text {
    margin-bottom: 10px;
  }
}
@media (max-width: 359px) {
  .maxw {
    margin: auto;
  }
  .home .maxw .home-container .text-1 {
    font-size: 20px;
    margin: 0;
  }
  .home .maxw .home-container .text-2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }
  .home .maxw .home-container .text-3 {
    font-size: 25px;
    margin: 0;
  }
  .skills .content .left .text {
    margin-bottom: 5px;
  }
}
